@charset 'utf-8';
@import "partials/fonts";
@import "partials/init";

@import "partials/classes";
@import "partials/header";
@import "partials/footer";

:root {
  background-color: var(--bg-2);
}

body main {
  max-width: 21cm;
  margin-inline: auto;
  background-color: var(--bg-1);
  padding: 1rem;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--hl);
  font-family: Gabriela;
}

h2 {
  font-family: tex-gyre-adventor;
  color: var(--hl)
}

.media {
  text-align: center;
  & > * {
    max-width: 100%;
  }
}
