@charset 'utf-8';
@import "partials/fonts";
@import "partials/init";

@import "partials/classes";
@import "partials/galeria";
@import "partials/form";
@import "partials/header";
@import "partials/footer";

/**VERSIÓN MÓVIL**/
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: unset;
  grid-auto-flow: row;
  gap: 1rem;
  & > * {
    grid-column: 1/-1;
  }
  section:first-of-type {
    text-align: center;
  }

  section {
    padding: 1rem;
    scroll-snap-align: start;
    &:first-of-type {
      img {
        max-width: 100%;
      }
      h1 {
        color: var(--megoc-gold);
        font-family: tex-gyre-adventor;
      }
    }

    &:not(:first-of-type) {
      background-color: var(--bg-1);
      border-left: 0.2rem solid var(--megoc-gold);
      .light & {
        border-left-color: var(--megoc-silver);
      }
    }

    h2 {
      text-align: center;
      font-family: Gabriela;
      font-size: 2.3rem;
    }

    button, .button {
      width: 100%;
      font-size: 1.2rem;
    }

    &#qui-som {
      #redes {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        text-align: center;
        margin-top: 0.5rem;
        justify-items: center;
        & > :first-child {
          grid-column: 1/-1;
        }
        p {
          padding-bottom: 0;
          text-transform: uppercase;
        }
        i.fa-square-facebook, i.fa-instagram {
          display: block;
          margin: auto;
        }
      }
    }

    &#galeria {
      #group-insc {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 768px) {
          flex-flow: row;
          gap: 1rem;
          p {
            margin: 0;
            padding: 0;
          }
          .button {
            width: fit-content;
          }
        }
      }

    }

    &#proximament {
      .calendario {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: space-around;
        .hoja {
          flex: 160px 1 0;
          max-width: 200px;
          min-height: 150px;
          display: grid;
          grid-template-rows: auto 1fr;
        }
        h3 {
          text-align: center;
          padding-block: 0.6em 0.3em;
          background-color: var(--red);
          color: white;
          strong {
            font-size: 150%;
          }
        }
        p {
          background-color: white;
          color: black;
          font-size: 90%;
          padding: 0.2em 0.5em;
        }
        a {
          color: red;
          text-decoration: underline;
        }
      }
    }

    &#cantar ul li{
      list-style-type: square;
      margin-left: 1rem;
    }

    &#trobans {
      text-align: center;
      #lugares {
        padding-inline: 0.5rem;
        & > * {
          margin: 0 auto 0.5rem;
          h3 {
            font-weight: lighter;
            font-size: 1.4rem;
          }
          img {
            max-width: 100%;
            max-height: 300px;
          }
        }
      }
    }
  }
}

/**VISTA PC/TABLET**/
@media screen and (min-width: 768px) {
  main {
    font-size: 20px;
    padding: 0.5rem;
    section {
      border-radius: 0.3rem;
      &:first-of-type {
        grid-column: 1/5;
        align-self: center;
      }
      &#qui-som {
        grid-column: 5/-1;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: unset;
        #redes {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto;
          align-items: center;
          & > :first-child {
            grid-column: unset ;
          }
          i {
            display: block;
            margin: auto;
          }

        }
      }
      &#cantar {
        grid-column: 1/6;
      }
      &#trobans {
        grid-column: 6/-1;
        text-align: center;
        #lugares > * {
          display: grid;
          grid-template-columns: 40% 1fr;
          align-items: center;
          text-align: left;
          font-size: 1.5rem;
          margin-top: 1rem;
        }
      }

    }
  }
}


/**VISTA PC**/
@media screen and (min-width: 992px) {
  main section {
    &#cantar {
      grid-column: 1/5;
    }
    &#trobans {
      grid-column: 5/-1;
      #lugares {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        & > * {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
