.snap {
  scroll-snap-align: start;
}

.clear-input {
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;

  &:hover,
  &:focus,
  &:active {
    transform: none;
  }
}

.tema-btn {
  border-radius: 0.5em;
  i {
    display: block;
    height: 100%;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: url('../img/moon.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      .light & {
        background-image: url('../img/sun.svg');
      }
    }
  }
}


