@font-face {
  font-family: tex-gyre-adventor;
  src: url(../fonts/texgyreadventor-regular.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: tex-gyre-adventor;
  src: url(../fonts/texgyreadventor-bold.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: tex-gyre-adventor;
  src: url(../fonts/texgyreadventor-italic.otf);
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: tex-gyre-adventor;
  src: url(../fonts/texgyreadventor-bolditalic.otf);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Gabriela;
  src: url(../fonts/Gabriela-Regular.ttf);
}
